<section class="mb-20 lg:mb-[200px] px-4 lg:px-8">
    <div class="prime-container border-t border-[#CDD0D6] mx-auto grid xl:grid-cols-2">
        <!-- Левая часть -->
        <div class="max-w-[650px] py-10">
            <h1 class=" text-2xl md:text-4xl leading-[.9] text-black font-semibold xl:text-7xl">Вам точно нужен <span class="italic font-normal">аудит.</span></h1>
            <p class="text-base mt-5 lg:mt-10 mb-5 lg:text-xl text-black leading-[1.6] font-medium">
                Чтобы предложить вам эффективное решение, которое улучшит ваш маркетинг, нужны вводные данные.
                Нет ничего лучше аудита: для вас это свежий взгляд на ваше текущее состояние, для нас — понимание этого состояния.
                Проверка по чек-листу, а также оценка профильным специалистом с развернутыми выводами по каждому пункту – то, что вам нужно прямо сейчас.
            </p>
            <p class="text-base lg:text-xl text-black mb-4 leading-[1.6] font-medium">
                При переходе из другого агентства даём вам
                <span class="bg-black text-white px-2 py-0.5 rounded-full text-base lg:text-xl">скидку 30%</span>
                на наши услуги.
            </p>
        </div>

        <!-- Правая часть -->
        <form class="space-y-6 py-10 border-l-0 xl:pl-8 xl:border-l border-y border-[#CDD0D6] xl:border-y-0">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
                <div>
                    <label class="text-sm lg:text-lg block mb-2 lg:mb-3 font-medium">Как вас зовут?</label>
                    <input type="text" placeholder="Иванов Иван"
                           class="w-full border rounded px-4 placeholder:text-[#CDD0D6] border-[#CDD0D6] py-3 md:px-5 md:py-4 lg:text-xl" />
                </div>
                <div>
                    <label class="text-sm lg:text-lg block mb-2 lg:mb-3 font-medium">Как с вами связаться?</label>
                    <input type="text" placeholder="Почта, телефон или мессенджер"
                           class="w-full border px-4 placeholder:text-[#CDD0D6] border-[#CDD0D6] py-3 md:px-5 md:py-4 lg:text-xl rounded" />
                </div>
            </div>

            <div class="my-5 lg:my-10">
                <label class="text-sm lg:text-lg block mb-2 lg:mb-3 font-medium">О проекте</label>
                <textarea placeholder="Расскажите коротко о проекте"
                          class="w-full border px-4 placeholder:text-[#CDD0D6] border-[#CDD0D6] py-3 md:px-5 md:py-4 lg:text-xl rounded h-[120px] resize-none"></textarea>
            </div>

            <div>
                <p class="text-sm lg:text-lg mb-2 lg:mb-3 font-medium">Направление работ</p>
                <div class="flex flex-wrap gap-1 md:gap-3">
                    <button type="button"
                            class="border font-medium border-[#CDD0D6] rounded px-4 py-3.5 lg:px-5 lg:py-4 lg:text-xl hover:border-[#CDD0D6] duration-300 hover:bg-black hover:text-white transition">
                        Аудит рекламы
                    </button>
                    <button type="button"
                            class="border font-medium border-[#CDD0D6] rounded px-4 py-3.5 lg:px-5 lg:py-4 lg:text-xl hover:border-[#CDD0D6] duration-300 hover:bg-black hover:text-white transition">
                        Аудит сайта
                    </button>
                    <button type="button"
                            class="border font-medium border-[#CDD0D6] rounded px-4 py-3.5 lg:px-5 lg:py-4 lg:text-xl hover:border-[#CDD0D6] duration-300 hover:bg-black hover:text-white transition">
                        Аудит SEO-продвижения
                    </button>
                    <button type="button"
                            class="border font-medium border-[#CDD0D6] rounded px-4 py-3.5 lg:px-5 lg:py-4 lg:text-xl hover:border-[#CDD0D6] duration-300 hover:bg-black hover:text-white transition">
                        Аудит SEO-продвижения
                    </button>
                </div>
            </div>

            <div class="flex items-start gap-2 text-xs lg:text-base mt-10 lg:mt-20 max-w-lg xl:max-w-none font-medium">
                <input type="checkbox" id="consent" class="mt-1 w-5 h-5 lg:w-8 lg:h-8" />
                <label for="consent">
                    Я даю согласие на <a href="#" class="underline">обработку персональных данных</a>
                    и ознакомлен(-а) с <a href="#" class="underline">политикой в отношении обработки персональных данных</a>
                </label>
            </div>

            <button type="submit" class="px-10 py-4 xl:py-7 xl:px-20 xl:text-xl bg-black text-white duration-300 hover:text-black hover:bg-transparent border border-black rounded-full">Подать заявку на аудит</button>

        </form>
    </div>
</section>
